<!-- Footer -->
<section id="footer" class="foot mt-auto">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <ul class="social-media list-unstyled list-inline social text-center">
                    <li  class="list-inline-item"><i class="mr-2 ml-2 fa fa-youtube fa-2x"></i></li>
                    <li class="list-inline-item"><i class="mr-2 ml-2 fa fa-instagram fa-2x"></i></a></li>
                    <li class="list-inline-item"><i class="mr-2 ml-2 fa fa-facebook fa-2x"></i></a></li>
                    <li class="list-inline-item"><i class="mr-2 ml-2 fa fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>

        <div class="row This_independent_TEDx_event_is">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6 text-center">This independent TEDx event is operated under lisence from TED.</p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->



<!-- Footer -->
	<!-- <section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				<hr>
			</div>
		</div>
	</section> -->
	<!-- ./Footer -->
