<!-- Footer -->
<!-- <section id="footer" class="navigation bg-dark mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <ul class="list-unstyled list-inline social text-center">
                    <li  class="list-inline-item"><i class="fa fa-youtube"></i></li>
                    <li class="list-inline-item"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">This independent TEDx event is operated under lisence from TED.</p>
            </div>
            <hr>
        </div>
    </div>
</section> -->
<!-- ./Footer -->
