<div class="mb-5" >
<nav class="navbar bg-white navbar-light navbar-expand-sm justify-content-center fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="./index.html"><img src="../posts/logos/black_logo.png" height="28" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="Navbar">
           <ul class="navbar-nav ml-auto ">

                <li class="nav-item"><a class="nav-link" href="./speakers.html"></span>Speakers</a></li>

                <li class="nav-item"><a class="nav-link" href="./events.html">Events</a></li>

                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" ></span> About</a>
                  <div class="dropdown-menu">
                    <div class="navbar-dropdown">
                      <a class="dropdown-item" href="./about.html">TEDxIITH</a>
                      <a class="dropdown-item" href="./team.html">Our Team</a>
                      <a class="dropdown-item" href="./partners.html">Partners</a>
                    </div>
                  </div>
                </li>


            </ul>

       </div>
    </div>
</nav>
</div>
