<nav class="navbar bg-white navbar-light navbar-expand-sm justify-content-center fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="./index.html"><img src="../posts/logos/black_logo.png" height="28" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="Navbar">
           <ul class="navbar-nav ml-auto ">

                <li class="nav-item"><a class="nav-link" href="./speakers.html"></span>Speakers</a></li>

                <li class="nav-item"><a class="nav-link" href="./events.html">Events</a></li>

                <li class="nav-item"><a class="nav-link" href="./about.html"></span> About</a></li>

            </ul>
       </div>
    </div>
</nav>
