/* line 34, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
    .brand_area {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  
  /* line 37, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .brand_area.dec_padding {
    padding-bottom: 80px;
  }
  
  @media (max-width: 767px) {
    /* line 34, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
    .brand_area {
      padding: 40px 0;
    }
  }
  
  /* line 44, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .brand_area .brand_active .single_brand {
    text-align: center;
    cursor: e-resize;
  }
  
  /* line 47, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .brand_area .brand_active .single_brand img {
    /* height: auto; */
    width: auto;
    display: inline-block;
    filter: contrast(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 54, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .brand_area .brand_active .single_brand:hover img {
    filter: contrast(1);
  }
  .mb-95 {
    margin-bottom: 95px;
  }
  
  @media (max-width: 767px) {
    /* line 262, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
    .mb-95 {
      margin-bottom: 30px;
    }
  }
 