.brand .navbar_logo{
    height: 45px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.site_header {
  width: 100%;
  position: fixed;
  /* position: relative; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 20px 80px 20px 0px;
  gap: 498px;
  z-index: 100;
  left: 0px;
  top: 0px;
  /* height: 86px; */
  background: rgb(0, 0, 0) !important;
  box-shadow: 15px 15px 30px rgba(205, 57, 86, 0.15);
}


.navigation_menu a {

  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* .navigation_menu a:hover {
  color: #F02D23 !important;
} */

.navigation_menu a{
  color: #ffffff;
}
.navigation_menu a:hover{
  color: #F02D23 ;
}
.navigation_menu a:focus{
  color: #F02D23 !important;
}

.subitem{
  color: white;
  font-weight: 700;
  padding-top: 5%;
  background-color: #EB0028;
  width: 110%;
  padding-left: 10%;
  /* margin: 0% 10% 0 10%; */
}


.dropdown_item{
  /* margin: 0% 10% 0 10%; */
  width: 110%;
  background-color: #EB0028 !important;
}

.dropdown_item:hover{
  color: black !important;
}

.dropdown_item:hover{
  color: black !important;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000000 !important;
  
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50px;
  right: 25px;
  transform: translateY(-50%);
  }
  .dropdown_menu a:hover{
    color: green !important;
  }
  /* .hamburger:hover {
  background-color: #F02D23;
  } */
