@import url('https://fonts.googleapis.com/css2?family=Philosopher');
.past_speakers {
    font-weight: bolder;
    font-size: xx-large;
}

.upcoming_speakers {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Philosopher';
}

.speaker_2023_new {
    background: linear-gradient(to right, red, white);
    height: 50px;
    border-radius: 15px;
}

.speaker_button_cont{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: center;
}


.speaker_button_cont::-webkit-scrollbar{
    height: 0;
    width: 0;
}


.speaker_button_cont a{
    margin: 0 0.75% 0 0.75%;
}

.buttons {
    flex-grow: 1;
    border-radius: 15px;
    text-decoration: none;
    padding: 1% 10% 1% 10%;
    width: max(12vw,20vh);
    height: 60px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: max(0.9vw,1.75vh);
    background-color: #F02D23;
    color: white;
    border: none;
    letter-spacing: 3px;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

.heading1,
.heading2 {
    text-align: center;
    color: red;
    padding: 5px;
}

.container {
    margin: 0 auto; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .col-lg-2, .col-md-4, .col-sm-6 {
// margin-bottom: 20px;
padding:5px
} */

.speaker_2023 {
    padding: 15px;
    background-color: #7B120D;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.04em;
    border-radius: 10px;
}

.speaker_2023 a {
    color: white;
    text-decoration: none;
}

.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    /* background-color: #7B120D; */
    font-family: 'Philosopherr=';
}

@media (max-width:870px){
    .speaker_button_cont{
        justify-content: flex-start;
    }
}

@media only screen and (min-width:367px) and (max-width:576px) {
    .container {
        margin: 10px;
    }
}