/*===============------- Add all the CSS code here with proper commenting ------------===========*/


/*===============------- Header Page ---------===================*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

/*==============================================================*/






/*================------ Footer Page ------======================*/
.foot{
  height: 230px;
  background-color:#26272b;
}

.This_independent_TEDx_event_is {
    margin-top: 10px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(248,249,250,1);
  }
.social-media{
  margin-top: 60px;
}

.footer_art{
  margin-top: -110px;
  margin-bottom: -230px;
  margin-left: -7px;
  float: bottom;
  height: 515px;
  width: 105%;
}

/*============================================================*/




















/*partner.html style starts here*/
.TEDxIITHyderabad_connects {
      margin-top: 8vh;
      width: 80%;
      margin-left: 10vw;
      text-align: left;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(51,51,51,1);
    }

    .Why_partner_with_us {
    width: 80%;
    margin-left: 10vw;
    margin-top: 20vh;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    color: rgba(51,51,51,1);
  }

  .As_a_TEDx_partner_you_have {
          margin-left: 10vw;
          width: 80%;
          margin-top: 8vh;
          text-align: left;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 4em;
          color: rgba(51,51,51,1);
        }

    .Partnership_with_an_event_of_g {
          margin-left: 10vw;
          width: 80%;
          margin-top: 6vh;
          text-align: left;
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          color: rgba(14,0,170,1);
        }

        .We_also_intend_to_work_with_ea {
    margin-left: 10vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 80%;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(51,51,51,1);
  }

/*partner.html style ends here*/

















/*Events page styling starts*/

.To_know_what_life_is_worth__yo {
    margin-left: 10vw;
    margin-top: 8vh;
    width: 80%;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    color: rgba(14,0,170,1);
  }

  .Jean-Paul_Sartre_an_existentia {
      margin-left: 10vw;
      margin-top: 5vh;
      width: 80%;
      text-align: left;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(51,51,51,1);
    }

    .Are_you_ready_to_take_risks_in {
        margin-left: 10vw;
        margin-top: 10vh;
        width: 80%;
        text-align: left;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        color: rgba(14,0,170,1);
      }
      .Lets_listen_to_people_who_have {
          margin-left: 12vw;
          margin-top: 5vh;
          width: 80%;
          text-align: left;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          color: rgba(230,43,30,1);
        }


        .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
       }

  /*Events page styling ends*/


















/*about page styling starts*/

        .In_the_spirit_of_ideas_worth_s {
         margin-left: 9vw;
         margin-top: 5vh;
         width: 80%;
         line-height: 4vh;
         text-align: left;
         font-family: Open Sans;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         color: rgba(51,51,51,1);
       }

        .TED_is_a_nonprofit_organizatio {
          margin-left: 10vw;
          margin-top: 5vh;
          margin-bottom: 15vh;
          width: 85%;
          text-align: left;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: rgba(51,51,51,1);
        }

        .About_TEDx_x__independently_or {
         margin-left:10vw;
         margin-top:1vh;
         width: 80%;
         text-align: left;
         font-family: Open Sans;
         font-style: normal;
         font-weight: bold;
         font-size: 30px;
         color: rgba(51,51,51,1);
       }
   
       .abted{
         margin-left:10vw;
         margin-top:5vh;
         width: 80%;
         text-align: left;
         font-family: Open Sans;
         font-style: normal;
         font-weight: bold;
         font-size: 56px;
         color: rgba(51,51,51,1);
       }
   
       .About_TED {
           margin-left: 10vw;
           margin-top: 10vh;
            width: 80%; 
           width: 100%;
           text-align: left;
           font-family: Open Sans;
           font-style: normal;
           font-weight: bold;
           font-size: 56px;
           color: rgba(51,51,51,1);
         }
    
          .building > img {
             width:100%;
             height:50vw;
           }
   
        .TEDxIITHyderabad_is_a_team_of_ {
            left: 11vw;
            top: 35vw;
            position: absolute;
            overflow: visible;
            width: 80%;
            text-align: left;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: rgba(255,255,255,1);
          }

/*about page styling ends*/



















/*Index page styling starts*/
      .TEDx_IITH_Talks {
        margin-left: 10vw;
        margin-top: 10vh;
        width: 80%;
        text-align: left;
        font-weight: bold;
        font-size: 45px;
        color: rgba(0,0,0,1);
       }
  
      .partner { 
      width: 100%;
      text-align: center;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      color: rgba(51,51,51,1);
    }

    .TEDxIITHyderabad_connects_indi {
        width: 80%;
        margin-top: 7vh;
        margin-left: 9vw;
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(51,51,51,1);
      }
    

      .middle {
        background-color: rgba(230,43,30,1);
        margin-top: 10vh;
        margin-bottom: 10vw;
        height: 90vh;
        width:100%;
      }

      .Nominate_yourself_for_the_spea {
        width: 100%;
        padding-top: 10vh;
        text-align: center;
        font-weight: bold;
        font-size: 4em;
        color: rgba(248,249,250,1);
      }

        .We_are_looking_for_diverse_exp {
        width: 80%;
        padding-top: 10vh;
        margin-left: 10vw;
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4em;
        color: rgba(248,249,250,1);
      }

        .Read_more {
        padding-top: 10vh;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
        color: rgba(248,249,250,1);
        text-decoration: underline;
      }
  
        .Know_more {
        border-radius: 30px;
        justify-content: center;
        margin-bottom: 10vh;
        margin-top: 5vh;
        width: 30vw;
        text-align: center;
        font-weight: normal;
        font-size: 28px;
        background-color: white;
        color: rgba(51,51,51,1);
      }


      .Nominate_speaker{
        border-radius: 30px;
        border-color: white;
        justify-content: center;
        margin-bottom: 10vh;
        margin-top: 10vh;
        width: 30vw;
        text-align: center;
        font-weight: normal;
        font-size: 28px;
        background-color: rgba(230,43,30,1);
        color: white;
      }

      .common{
       font-family: Open Sans;
       font-style: normal;
      }

      .carousel2-inner > .carousel2-item > img {
       width:100%;
       height:60vw;
      }
/*Index Page styling ends here*/















/*Team Page styling starts*/
.team{
    text-align: center;
    border-radius: 25px;
    font-family:Open Sans;
    margin-left:2%;
    margin-right:2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

 .team .inner{
    width:100%;
    text-align:center;
    padding: 7px;
  }
  .team .inner img{
    width:50%;
    border-radius:50%;
    text-align:center;
  }

/*Team Page styling ends*/


















/*Speaker Page styling starts*/
  .speak{
      text-align: center;
      font-family:Open Sans;
      margin-left:3%;
      margin-right:3%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .speak .inner{
      width:100%;
      text-align:center;
      padding: 7px;
    }
    .speak .inner img{
      width: 200px;
      height: 200px;
      border-radius: 100px;
      /* width:50%;
      border-radius:50%; */
      text-align:center;
    }
    .test .card{
      border: none;
    }

    .speakers{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(51,51,51,1);
    }
/**/
    .ID2019{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: rgba(14,0,170,1);
    }

 /*Speaker page styling ends*/























/*Media queries starts here*/
  @media only screen and (max-width: 600px) {
    

    /*index page*/
   /* .middle{
      height: 100vh;
    }
*/
    .TEDxIITHyderabad_connects_indi{
      font-size: 1.2em;
    }
    .Nominate_yourself_for_the_spea{
      font-size: 2em;
    }
    .partner{
      font-size: 2em;
    }

    .Nominate_speaker{
      font-size: 1.2em;
    }

    .Know_more{
      font-size: 1.2em;
    }

    /*partner page*/
    .Why_partner_with_us {
    font-size: 2em;
      }
      .As_a_TEDx_partner_you_have{
        font-size: 2em;
      }
      .Partnership_with_an_event_of_g{
        font-size: 18px;
      }

      /*Events page*/
      .To_know_what_life_is_worth__yo{
        font-size: 1.8em;
      }
      .Are_you_ready_to_take_risks_in{
        font-size: 1.8em;
      }
      .Lets_listen_to_people_who_have{
        font-size: 1.2em;
      }


      .About_TEDx_x__independently_or{
        font-size: 1em;
        margin-left: 13vw;
      }

      .abted{
        font-size: 3em;
        margin-left: 13vw;
      }
      .About_TED{
        font-size: 3em;
      }

      .TEDxIITHyderabad_is_a_team_of_{
        font-size: 0.8em;
      }

      .TEDxIITHyderabad_is_a_team_of_{
        width: 85%;
        top:45vw;
      }
      .TEDx_IITH_white{
        width: 55vw ;
        height: 35vh;
      }
      .footer_art{
        height: 50vh;
        margin-bottom: -24vh;
      }

  }




















@media (max-width: 768px) {
    .carousel-inner1 .carousel-item1 > div {
        display: none;
    }
    .carousel-inner1 .carousel-item1 > div:first-child {
        display: block;
    }
}

.carousel-inner1 .carousel-item.active,
.carousel-inner1 .carousel-item-next,
.carousel-inner1 .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner1 .carousel-item-right.active,
    .carousel-inner1 .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner1 .carousel-item-left.active, 
    .carousel-inner1 .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner1 .carousel-item-right,
.carousel-inner1 .carousel-item-left{ 
  transform: translateX(0);
}
