/*===============------- Add all the CSS code here with proper commenting ------------===========*/


/*===============------- Team Page ---------===================*/
.team{
    text-align: center;
    border-radius: 25px;
    font-family:Open Sans;
    margin-left:2%;
    margin-right:2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .speak{
      text-align: center;
      font-family:Open Sans;
      margin-left:3%;
      margin-right:3%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .speak .inner{
      width:100%;
      text-align:center;
      padding: 7px;
    }
    .speak .inner img{
      width: 200px;
      height: 200px;
      border-radius: 100px;
      /* width:50%;
      border-radius:50%; */
      text-align:center;
    }
    .test .card{
      border: none;
    }

  .team .inner{
    width:100%;
    text-align:center;
    padding: 7px;
  }
  .team .inner img{
    width:50%;
    border-radius:50%;
    text-align:center;
  }

.normal {
  font-weight: normal;
}

.thick {
  font-weight: bold;
}

.thicker {
  font-weight: 900;
}

.In_the_spirit_of_ideas_worth_s {
		left: 142px;
		top: 975px;
		width: 1086px;
		height: 112px;
		line-height: 28px;
		margin-top: -6px;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}


.About_TEDx_x__independently_or {
  		left: 141px;
  		top: 827px;
  		/* position: absolute;
  		overflow: visible; */
  		width: 407px;
  		white-space: nowrap;
  		text-align: left;
  		font-family: Open Sans;
  		font-style: normal;
  		font-weight: bold;
  		font-size: 56px;
  		color: rgba(51,51,51,1);
  	}

.About_TED {
    		left: 142px;
    		top: 1179px;
    		/* width: 291px; */
        width: 100%;
    		white-space: nowrap;
    		text-align: left;
    		font-family: Open Sans;
    		font-style: normal;
    		font-weight: bold;
    		font-size: 56px;
    		color: rgba(51,51,51,1);
    	}

.TED_is_a_nonprofit_organizatio {
      		left: 142px;
      		top: 1289px;
      		width: 1086px;
      		height: 313px;
      		line-height: 28px;
      		margin-top: -6px;
          /* margin-bottom: 10px; */
      		text-align: left;
      		font-family: Open Sans;
      		font-style: normal;
      		font-weight: normal;
      		font-size: 16px;
      		color: rgba(51,51,51,1);
      	}
.TEDxIITHyderabad_is_a_team_of_ {
        		left: 142px;
        		top: 465px;
        		position: absolute;
        		overflow: visible;
        		width: 1054px;
        		height: 86px;
        		line-height: 28px;
        		margin-top: -4px;
        		text-align: left;
        		font-family: Helvetica Neue;
        		font-style: normal;
        		font-weight: normal;
        		font-size: 20px;
        		color: rgba(255,255,255,1);
        	}

          #img_0310 {
          		opacity: 0.713;
          		fill: rgba(0,0,0,1);
          	}
          	.img_0310 {
          		mix-blend-mode: multiply;
          		position: absolute;
          		overflow: visible;
          		width: 1366px;
          		height: 660px;
          		left: 0px;
          		top: 43px;
          	}
            .TEDx_IITH_white {
            		position: absolute;
            		width: 680px;
            		height: 260px;
            		left: 87px;
            		top: 166px;
            		overflow: visible;
            	}

              .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 

  

        

.foot{
  height: 230px;
  background-color:#26272b;
}

.This_independent_TEDx_event_is {
    margin-top: 10px;
		white-space: nowrap;
		text-align: center;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(248,249,250,1);
	}
.social-media{
  margin-top: 60px;
}






.footer_art{
  margin-top: -110px;
  margin-bottom: -230px;
  margin-left: -3px;
  float: bottom;
  height: 515px;
  width: 100%;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.partner {
		margin-left: 339px;
    margin-bottom: 50px;
		top: 2204px;
		width: 599px;
		white-space: nowrap;
		text-align: center;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 56px;
		color: rgba(51,51,51,1);
	}

.TEDxIITHyderabad_connects_indi {
  		margin-left: 141px;
      margin-bottom: 100px;
  		width: 995px;
  		height: 103px;
  		line-height: 28px;
  		margin-top: -4px;
  		text-align: center;
  		font-family: Open Sans;
  		font-style: normal;
  		font-weight: normal;
  		font-size: 20px;
  		color: rgba(51,51,51,1);
  	}
    .Know_more {
        border-radius: 30px;
        justify-content: center;
        margin-bottom: 100px;
    		top: 14.545px;
    		width: 350px;
    		text-align: center;
    		font-weight: normal;
    		font-size: 28px;
        background-color: white;
    		color: rgba(51,51,51,1);
    	}
      .middle {
        background-color: rgba(230,43,30,1);
        margin-top: 100px;
        margin-bottom: 100px;
        height: 550px;
        width:100%;
      	}

        .Nominate_yourself_for_the_spea {
        		margin-left: 155px;
        		width: 967px;
        		text-align: center;
        		font-weight: bold;
        		font-size: 56px;
        		color: rgba(248,249,250,1);
        	}
          .We_are_looking_for_diverse_exp {
          		margin-left: 246px;
          		margin-top: 30px;
          		width: 800px;
          		height: 74px;
          		line-height: 28px;
          		text-align: center;
          		font-family: Open Sans;
          		font-style: normal;
          		font-weight: normal;
          		font-size: 20px;
          		color: rgba(248,249,250,1);
          	}
.Nominate_speaker{
  border-radius: 30px;
  border-color: white;
  justify-content: center;
  margin-top: 70px;
  top: 14.545px;
  width: 350px;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  background-color: rgba(230,43,30,1);
  color: white;
}

.Read_more {
		margin-left: 600px;
		margin-top: 50px;
		width: 77px;
		text-align: center;
		font-weight: normal;
		font-size: 15px;
		color: rgba(248,249,250,1);
		text-decoration: underline;
	}

  .carousel-inner > .carousel-item > img {
    width:100%;
    height:60vw;
  }
  .TEDx_IITH_Talks {
  		margin-left: 139px;
  		margin-top: 90px;
  		width: 321px;
  		text-align: left;
  		font-weight: bold;
  		font-size: 45px;
  		color: rgba(0,0,0,1);
  	}

.common{
  white-space: nowrap;
  font-family: Open Sans;
  font-style: normal;
}

.speakers{
    font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(51,51,51,1);
}


.ID2019{
    font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(14,0,170,1);
}








/*partner.html style starts here*/
.TEDxIITHyderabad_connects {
      margin-top: 8vh;
      width: 80%;
      margin-left: 10vw;
      text-align: left;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(51,51,51,1);
    }

    .Why_partner_with_us {
    width: 80%;
    margin-left: 10vw;
    margin-top: 20vh;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    color: rgba(51,51,51,1);
  }

  .As_a_TEDx_partner_you_have {
          margin-left: 10vw;
          width: 80%;
          margin-top: 8vh;
          text-align: left;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 4em;
          color: rgba(51,51,51,1);
        }

    .Partnership_with_an_event_of_g {
          margin-left: 10vw;
          width: 80%;
          margin-top: 6vh;
          text-align: left;
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          color: rgba(14,0,170,1);
        }

        .We_also_intend_to_work_with_ea {
    margin-left: 10vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 80%;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(51,51,51,1);
  }

/*partner.html style ends here*/












/*Events page styling starts*/

.To_know_what_life_is_worth__yo {
    margin-left: 10vw;
    margin-top: 8vh;
    width: 80%;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    color: rgba(14,0,170,1);
  }

  .Jean-Paul_Sartre_an_existentia {
      margin-left: 10vw;
      margin-top: 5vh;
      width: 80%;
      text-align: left;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(51,51,51,1);
    }

    .Are_you_ready_to_take_risks_in {
        margin-left: 10vw;
        margin-top: 10vh;
        width: 80%;
        text-align: left;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        color: rgba(14,0,170,1);
      }
      .Lets_listen_to_people_who_have {
          margin-left: 12vw;
          margin-top: 8vh;
          width: 80%;
          text-align: left;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          color: rgba(230,43,30,1);
        }

  /*Events page styling ends*/


/*Media queries starts here*/
  @media only screen and (max-width: 600px) {

    /*partner page*/
    .Why_partner_with_us {
    font-size: 2em;
      }
      .As_a_TEDx_partner_you_have{
        font-size: 2em;
      }
      .Partnership_with_an_event_of_g{
        font-size: 18px;
      }

      /*Events page*/
      .To_know_what_life_is_worth__yo{
        font-size: 1.8em;
      }
      .Are_you_ready_to_take_risks_in{
        font-size: 1.8em;
      }
      .Lets_listen_to_people_who_have{
        font-size: 1.2em;
      }

  }