<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>
  <div id="loader"></div>
  {% include navigation.html %}

  {{ content }}

  <div class="footer_art1"
    style=" background-image: url('assets/images/footer/elements/back.png'); background-size:100vw;background-repeat: no-repeat;">
    <img class="person floating" src="assets/images/footer/elements/person.png">
    <img class="planet floating" src="assets/images/footer/elements/planet.png">
    <img class="spaceship floating" src="assets/images/footer/elements/spaceship.png">
  </div>

  <img class="footer_art2" src="assets/images/footer/footer.png">

  {% include footer.html %}

  <!-- jQuery -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/mdb.min.js"></script>
  <!-- Owl Carusel -->
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <!-- Typed JS -->
  <script src="assets/vendor/typed/typed.js"></script>
  <!-- Main JS scripts -->
  <script type="text/javascript" src="./assets/js/main.js"></script>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>