<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>
  <div id="loader"></div>
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}

  <!-- jQuery -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./assets/vendor/mdbootstap/js/mdb.min.js"></script>
  <!-- Owl Carusel -->
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <!-- Typed JS -->
  <script src="assets/vendor/typed/typed.js"></script>
  <!-- Main JS scripts -->
  <script type="text/javascript" src="./assets/js/main.js"></script>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>