@import url('https://fonts.googleapis.com/css2?family=Philosopher');
.background{
    background-image: url("/homepageimg/background.png");
    background-size: cover;
    background-color: black;
}
.boxed_btn_white {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 16px 43px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 2px solid #fff;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  text-decoration: none;
}

@media (max-width: 767px) {
  /* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
  .boxed_btn_white {
    padding: 14px 20px;
    font-size: 15px;
  }
}

/* line 91, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed_btn_white:hover {
  background: #fff;
  color: #000 !important;
  border: 2px solid #fff;
  text-decoration: none;

}

/* line 96, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed_btn_white:focus {
  outline: none;
}

/* line 99, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed_btn_white .large_width {
  width: 220px;
}

    .section_title_header  {
      text-align: center;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 36px;
    }

    .section_title {
      font-size: 30px;
      color: #212121;
      line-height: 52px;
      font-weight: 700;
      text-align: center;
      display: block;
      position: relative;
      margin-bottom: 10px;
    }

    .section_padding {
      padding: 100px 0;
      margin-top: 80px;
    }

    .contact {
      background: #111111;
    }

    #conatiner_map {
      width: 100%;
      height: 580px;
    }

    .title_forme {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .contact_item {
      position: relative;
      text-align: center;
    }

    .contact_item i {
      width: 70px;
      height: 70px;
      display: inline-block;
      line-height: 70px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 30px;
      background: #2d2d2d;
      color: #fff;
      border-radius: 4px;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
    }

    .contact_item .contact_info h3 {
      color: #ff4a67;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .contact_item .contact_info p {
      color: #fff;
    }

    /* Contact Forme */
    #google_map_area {
      position: relative;
    }

    #google_map_area .container_fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .container_form {
      left: 0%;
      padding: 10px 15px;
      margin-left: -15px;
      z-index: 99;
    }

    .container_form .form_wrapper {
      background-color: white;
      padding: 56px;
      box-shadow: 0 8px 10px #caced2;
    }

    .container_form .form_wrapper .form_group {
      margin-bottom: 30px;
    }

    .container_form .form_wrapper .form_control {
      display: block;
      width: 100%;
      line-height: 26px;
      font-size: 14px;
      box-shadow: none;
      color: #848484;
      background: #f7f7f7;
      border: 1px solid transparent;
      padding: 7px 19px;
      border-radius: 30px;
      background-image: none;
      background-clip: padding-box;
    }

    .container_form .form_wrapper .form_control:focus {
      color: #212121;
      background-color: #fff;
      border-color: #ff4a67;
      box-shadow: none;
      outline: 0;
    }

    .container_form textarea {
      border-radius: 4px !important;
    }

    .form_submit .btn_common {
      width: 100%;
    }

    .list_unstyled li {
      margin-top: 10px;
      color: #dc3545 !important;
    }

    .text_danger {
      margin-top: 20px;
      font-size: 18px;
    }

    .form_submit {
      background-color: #dc3545;
      color: #111111;
      border-radius: 2pc;
    }

    .form_control {
      display: block;
      width: 100%;
      line-height: 27px;
      font-size: 14px;
      box-shadow: none;
      color: #848484;
      background: #f7f7f7;
      padding: 7px 19px;
      border: 1px solid #e5e5e5;
      border-radius: 0px;
      transition: all 500ms ease;
      -webkit-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
    }

    .form_control:focus {
      border-color: #ff4a67;
      box-shadow: none;
      outline: 0;
    }

    /* Inforamation Bar */
    #contact_text {
      background: #161E26;
    }

    #contact_text .contact_wrapper {
      background: rgb(246, 225, 225);
      margin-top: -20px;
      padding: 30px 0;
      border-radius: 4px;
      position: relative;
      top: -40px;
      z-index: 999;
    }

    #contact_text ul {
      text-align: center;
    }

    #contact_text ul li {
      display: inline-block;
    }

    #contact_text ul li i {
      text-align: center;
      padding: 0 12px;
      font-size: 28px;
      vertical-align: middle;
      color: #ff4a67;
    }

    #contact_text ul li span {
      font-size: 14px;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    #contact_text ul li span b {
      font-size: 20px;
      color: #374045;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    #heading {
      color: red;
      font-size: 90px;
    }
    #success{
      color:#dc3545;
    }
    /* Style for buttons*/
    .button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: brown;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 50px;
}

.button:hover {background-color:rgb(78, 22, 22)}

.button:active {
  background-color: red;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.gap{
  padding: 5rem;
  color: white;
}
#tedx_website {
  color: black;
}
/* a:hover {
  color: red;
} */