@import url('https://fonts.googleapis.com/css2?family=Philosopher');

.background{
    background-image: url("/homepageimg/background.png");
    background-size: cover;
    background-color: black;
}
.speakers_2023{
  color: red;
  text-align: center;
  font-family: 'Philosopher';
  /* font-style: normal; */
  font-weight: bolder;
  font-size: max(3.25vw, 5vh);
  line-height: 72px;
  margin-top: 200px;
}

.col-lg-2,
.col-md-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}

/* body {
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
} */

.main {
    /* background: url("/images/background.jpg");
    background-size: cover; */
    position: relative;
    height: 100svh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.hero-main {
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Philosopher';
    color: white;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    padding-top: 90px;
}

.hero-image {
    min-height: 100%;
    max-width: 100%;
}


.hero-title {
    font-size: 180px;
    margin: 0;
    letter-spacing: 50px;
    text-shadow: 4px 4px 10px black;
    user-select: none;
}

.hero-subtitle {
    font-size: 32px;
    margin: 0;
    letter-spacing: 10px;
    text-shadow: 4px 4px 10px black;
    user-select: none;
}

.hero-theme-cont {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-theme {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    user-select: none;
    color: white;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100vw;
}

.hero-buttons p {
    margin: 10px;
}

.buttons {
    flex-grow: 1;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    height: 80px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    letter-spacing: 3px;
}

.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #D91E1D;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
.slidingVertical span:nth-child(6){
	animation-delay: 12.5s;
	-ms-animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
}

/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/* 
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
} */


.theme_desc {
    text-indent: 75px;
    margin: 2% 10% 0 10%;
    font-size: max(1.25vw,1.75vh);
    color: white;
}

.theme_cont{
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-wrap: wrap;
}

.sub_theme_main{
    margin: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 23px solid rgba(55, 10, 8, 0.6);
    border-radius: 50%;
    aspect-ratio: 1;
}

.sub_theme_image_cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 23px solid rgba(84, 17, 14, 1);
    border-radius: 50%;
    background-color: rgba(143, 26, 20, 1);
    aspect-ratio: 1;
}

.sub_theme_image_cont2{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
}

.sub_theme_image{
    width: 150px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid white;
}

.merch {
    color: white;
    background-color: #D91E1D;
}

.main-video-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.main-video {
    margin-top: 6%;
    margin-right: 8%;
    margin-left: 10%;
    width: 45vw;
    height: 22.5vw;
}

.main-video-text {
    flex-grow: 1;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: left;
    color: #FFFFFF;
}
.book-tickets{
    color: white;
    background-color: #D91E1D;
    margin-left: 25%;
    margin-right: 25%;
}
.main-video-text div {
    display: inline;
    margin: 0;
    color: red;
}
.smallmargin{
    margin-top: 2%;
}

@media (min-width: 1000px) and (max-width: 1615px) {
    .main-video-text {
        font-size: 42px;
    }
}

@media (min-width: 773px) and (max-width: 1000px) {
    .hero-title {
        font-size: 150px;
    }

    .hero-subtitle {
        font-size: 28px;
    }

    .hero-theme {
        font-size: 35px;
    }

    .buttons {
        height: 65px;
    }
    
}

@media (max-width: 772px) {
    .hero-title {
        font-size: 70px;
        width: 85%;
        /* padding-left: 38px; */
    }

    .hero-subtitle {
        font-size: 23px;
        letter-spacing: normal;
    }

    .hero-theme {
        font-size: 22px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .buttons {
        height: 50px;
        font-size: 16px;
    }

    .main-video {
        margin: 8%;
        margin-top: 15%;
        margin-left: 10%;
        width: 90vw;
        height: 45vw;
    }

    .main-video-text {
        font-size: 32px;
    }

    .sub_theme_image{
        width: 50px;
    }

    .sub_theme_main{
        margin: 8%;
        border: 15px solid rgba(55, 10, 8, 0.6);
    }

    .sub_theme_image_cont1{
        border: 15px solid rgba(84, 17, 14, 1);
    }

}

@media (max-height: 800px) {
    .hero-title {
        font-size: 150px;
    }

    .hero-theme {
        font-size: 35px;
    }

    .buttons {
        height: 60px;
    }
}

@media (max-height: 720px){
    .hero-title {
        font-size: 110px;
    }

    .hero-subtitle {
        font-size: 27px;
    }

    .hero-theme {
        font-size: 33px;
        margin-bottom: -8px;
    }
}

@media (max-height: 614px) {
    .hero-main {
        top: 25%;
    }

    .hero-title {
        font-size: 80px;
    }

    .hero-subtitle {
        font-size: 26px;
    }

    .hero-theme {
        font-size: 28px;
        margin-bottom: -8px;
    }

    .buttons {
        height: 50px;
    }
}