
.speakers_2023{
  color: red;
  text-align: center;
  /* font-family: 'Philosopher';
  font-style: normal; */
  font-weight: bolder;
  font-size: xx-large;
  line-height: 72px;
  margin-top: 200px;
}

.col-lg-2,
.col-md-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}
