@import url('https://fonts.googleapis.com/css2?family=Philosopher');
.background{
    background-image: url("/homepageimg/leaderboard.png");
    background-size: 100vw 15% ;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 86px;
    background-color: black;
    text-align: center;
}
.title{
  padding-top: 120px;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0.02em;
  color: #F02D23;
}

.ellipses th,
.ellipses td {
  word-wrap: break-word;
}
.head{
  background: #C72E26 !important;
  border-bottom: transparent;
  height: 4vw;

}
.top3{
  background: linear-gradient(180deg, rgba(97, 23, 19, 0.81) 0%,
   rgba(240, 45, 35, 0.44) 49.09%, rgba(97, 23, 19, 0.56) 100%) !important;
  border-bottom: transparent;
  height: 5vw;
  padding: 10px;
}

.rest{
  background: linear-gradient(180deg, rgba(97, 23, 19, 0.486) 0%, rgba(240, 45, 35, 0.264) 49.09%, rgba(97, 23, 19, 0.336) 100%);
  border-bottom: transparent;
  height: 5vw;
  padding: 10px;
}

.text{
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 1em 0;

    padding: 0;
}
.head_text{
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #FFFFFF;
}
.icon{
  color: yellow;
  position: absolute;
  left: 4%;
}

@media screen and (max-width: 687px) {
  .title{
    font-size: 48px;
    line-height: 50px;
  }
  .text{
    font-size: 17px;
    line-height: 20px;
  }
  .head_text{
    font-size: 17px;
    line-height: 20px;
  }
  .background{
    background-size: 100vw 8% ;
  }
}

@media screen and (max-width: 352px){
  .title{
    font-size: 36px;
    line-height: 40px;
  }
  .text{
    font-size: 14px;
    line-height: 20px;
  }
  .head_text{
    font-size: 14px;
    line-height: 20px;
  }
  .background{
    background-size: 100vw 5% ;
  }
}

/* .fixed_table {
  table-layout: fixed;
} */

/* .ellipses th,
.ellipses td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */