.background_image{
	background-image: url("../public/speakers/b-2.jpeg");
}
.breadcrumb_section {
	padding: 75px 0 75px;
	/* background-color: rgb(242, 208, 208); */
}
/* .speaker_section_spad {
	background-color: rgb(242, 208, 208);
} */
.breadcrumb_text {
	text-align: center;
	padding: 75px 0 0px;
}

.breadcrumb_text h2 {
	font-size: 60px;
	color: #eb0028;
	font-weight: 600;
	margin-bottom: 14px;
	/* color: transparent; */
	/* animation: someffect 3s ease infinite; */
}
/* @keyframes someffect {
    0%,
    100% {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 20px red, 0 0 20px red, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: black;
    }
    50% {
        text-shadow: 0 0 2px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 2px black, 4px 4px 2px #40340a;
        color: red;
    }
} */

.breadcrumb_text h4 {
	font-size: 30px;
	color: white;
	font-weight: 600;
	margin-bottom: 14px;
	text-decoration: underline;
}
.breadcrumb_text .bt-option a {
	font-size: 18px;
	color: #6a6b7c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.breadcrumb_text .bt-option a:after {
	position: absolute;
	right: -17px;
	top: 2px;
	content: "";
	font-family: Helvetica, Arial, sans-serif !important;
}

.breadcrumb_text .bt-option span {
	display: inline-block;
	color: #a0a1b5;
}
.speaker_section {
	padding-top: 0;
}

.speaker_item {
	margin-bottom: 50px;
}

.speaker_item .si_pic img {
	min-width: 100%;
	border-radius: 2px;
}

.speaker_item .si_text .si-title {
	margin-bottom: 28px;
}


.speaker_item .si_text .si_title h4 {
	color: #eb0028;
	font-weight: 600;
	margin-bottom: 13px;
	/* color: transparent; */
	/* animation: effect 3s linear infinite; */
}
/* @keyframes effect {
	0% {
		background: linear-gradient(
				red, white);
		-webkit-background-clip: text;
	}

	100% {
		background: linear-gradient(
				white, red);
		-webkit-background-clip: text;
	}
} */

.speaker_item .si_text .si_title span {
	color: #eb0028;
	font-size: 16px;
	display: block;
}

.speaker_item .si_text .si_social {
	margin-bottom: 24px;
}

.speaker_item .si_text .si_social a {
	display: inline-block;
	font-size: 16px;
	color: red;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	border-radius: 50%;
	margin-right: 5px;
}

.speaker_item .si_text .si_social a:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
	color: #ffffff;
}

.speaker_item .si_text p {
	color: whitesmoke;
	line-height: 26px;
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
/* @media only screen and (min-width:992px) and (max-width:1200px){
    .col-lg-6{
        margin-left: 5px;
    }
}
     */
@media only screen and (max-width: 991px) {
    .speaker_item .si_text .si_title {
		padding-top: 30px;
	}
}

 