.speaker_section {
	padding-top: 0;
}

.speaker_item {
	margin-bottom: 50px;
	margin-left: 25px;
}

.speaker_item .si_pic img {
	min-width: 100%;
	border-radius: 20px;
}

.speaker_item .si_text .si-title {
	margin-bottom: 28px;
}

.speaker_item .si_text .si_title h4 {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #FF2B06;

}
.speaker_item .si_text .si_title p{
	font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
/* identical to box height, or 167% */


color: #FFFFFF;

}


.speaker_item .si_text  p {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	/* or 188% */


	color: #FFFFFF;

}

@media only screen and (min-width:1400px) {
	.speaker_item .si_text p {
		padding-left: 5rem;
	}

	.speaker_item .si_text .si_title h4 {
		padding-left: 5rem;
	}
}

@media only screen and (max-width: 1400px) {
	.speaker_item .si_pic img {
		width: 250px;
		height: 320px;
		border-radius: 20px;
	}

	.speaker_item {
		margin-bottom: 50px;
	}

}

/* @media only screen and (min-width:992px) and (max-width:1200px){
    .col-lg-6{
        margin-left: 5px;
    }
}
     */
@media only screen and (max-width: 991px) {
	.speaker_item .si_text .si_title {
		padding-top: 30px;
	}
}

@media (min-width:992px) and (max-width:1200px) {

	.speaker_item .si_text p,
	.speaker_item .si_text h4 {
		padding-left: 3rem;
	}
}