@import url('https://fonts.googleapis.com/css2?family=Philosopher');
.body {
    background-image: url("/speakers/background.png");
    background-size: cover;
    background-color: black;
    margin-top: 90px;
}

.heading {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height */
    color: #F02D23;
}

.year {
<<<<<<< Updated upstream
        font-family: 'Philosopher';
=======
    font-family: 'Philosopher';
>>>>>>> Stashed changes
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    /* identical to box height */

    color: #FFFFFF;
    padding-bottom: 30px;
}

@media  (max-width:1200px) {
    .heading {
        font-weight: 700;
        text-align: center;
    }
    .year{
        text-align: center;
    }

}
@media (min-width:1200px){
    .heading,.year{
        padding-left:10vw;
    }
}